/*********************************** FAQ ***********************************/
#faq-row {
  background-color: #fafafa;
}

#faq-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#faq, #faq-subtitle {
  text-align: center;
  padding: 20px 0px;
  cursor: default;
}

#faq {
  padding-top: 80px;
}

#faq-section li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  box-shadow: 0px 2px 5px darkgrey;
  padding: 20px;
  background-color: #fb8b38;
}

#faq-section li p {
  display: none;
}

#faq-section li:hover {
  color: rgb(250, 250, 153);
  cursor: pointer;
  height: 130px;
  box-shadow: 0px 2px 5px darkgrey;
}

#faq-section li:hover p {
  display: block;
  padding-top: 20px;
  text-align: justify;
  line-height: 1.5rem;
}

#faq-section p {
  color: black;
  font-size: 18px;
}

#faq-section {
  width: 90%;
  padding-left: 50px;
}

/*********************************** LOGIN ***********************************/
#login-container header img {
  width: 40%;
}

#login-container {
  background-color: #ff914d;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#login-row {
  margin: 8px;
  height: 100%;
  margin-left: 10%;
}

#login-row h2 {
  text-align: center;
}

#login-form {
  width: 30%;
  height: 310px;
  border: 1px solid #fafafaee;
  border-radius: 15px;
  background-color: #fafafaee;
  padding: 50px 10px 0px;
  color: #f6af22;
}

#login-form div {
  padding: 10px 20px;
}

#login-form button {
  margin: 5px 0px 0px 70px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #f6af22;
  background-color: #fafafaee;
}

#login-form button:hover {
  background-color: #f6af22;
}

#login-form input {
  border-style: solid;
  border-width: 0px 0px 2px;
  position: absolute;
  width: 200px;
  height: 25px;
  display: inline;
}

#cpf input, #password input {
  position: relative;
}

#login-questions p:hover {
  cursor: pointer;
}

/*********************************** PRODUCT ***********************************/
#product-container {
  padding-top: 3.4rem;
}

hr {
  color: black;
  height: 2px;
  background-color: black;
}

#parceiros {
  margin: 20px 0px 30px 30px;
  padding: 6px;
  text-align: center;
  font-size: larger;
}

/************************* Media Query ****************************/
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

  /****************** Login *********************/

  #login-container header img {
    display: none;
  }

  #login-row {
    margin: 10px;
    height: 400px;
    position: relative;
    right: 40px;
  }

  #login-row h2 {
    text-align: center;
  }

  #login-form {
    width: 90%;
    height: 310px;
  }

  #cpf input, #password input {
    position: relative;
  }
}