* {
    margin: 0;
    padding: 0;
}

/*********************************** HEADER ***********************************/
nav {
    background-color: #ff914d;
    display: flex;
    height: 55px;
    align-items: center;
    position: fixed;
    width: 100%
}

.nav-brand img{
    width: 19%;
    margin-left: 1.5rem;
}

nav ul{
    display: flex;
}

ul a {
    text-decoration: none;
    color: #FEFBF3;
}

nav li {
    list-style-type: none;
    color: #FEFBF3;
    position: relative;
    right: 22rem;
}

.nav-item {
    padding-right: 2.5rem;
}

.nav-login {
    position: relative;
    left: 21rem
}

.nav-login img {
    width: 10%;
    padding-right: 0.2rem;
}


/*********************************** INDEX ***********************************/
.home-first-container {
    background-color: #fec530;
    display: flex;
    height: 35rem;
}

.home-first-container h1, .home-first-container p {
    color: #FEFBF3;
    margin-left: 40px;
}

.home-first-container h1{
    margin-top: 200px;
}

  

.home-first-container img {
    height: 90%;
    margin-top: 56px
}


.home-first-container h1 {
    font-size: 42px;
}

.home-first-container p {
    font-size: 24px;
    padding-top: 23px;
}

#description-row {
    height: 20rem;
    background-color: #FEFBF3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description-row div {
    width: 45%;
    padding-top: 20px;
    font-size: 22px;
}

#credit-card-row {
    /* background-color: #fbb12c; */
    background-image: linear-gradient(to bottom, #fbb12c, #fc9d00);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#credit-card-row div{
    color: #FEFBF3;
    font-size: 22px;
    width: 45%;
    padding-left: 2rem;
}

#credit-card-row div p{
    padding-top: 1.5rem;
}    

section {
    background-color: #fafafa;
}

#product-bank {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom:  3rem;
}

#product-bank h1, section h3 {
    color: #fb8b38
}

#product-bank h1 {
    font-size: 2.5rem;
}

#product-description {
    display: flex;
    flex-direction: column;    
    width: 90%;
    padding-bottom:  3rem;
}

 section h3  {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

#card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding: 30px 0 30px;
}

#card-description img {
    width: 90%
}

#cashback {
    display: flex;
    justify-content: space-between;
    margin-left: 15%; 
}

#cashback p {
    padding: 20px;
    text-align: justify;
}

#cashback p:first-child {
    margin-right: 100px;
}

#section-text {
 margin-left: 80px;
}

#account-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px 0;
   padding-bottom:  3rem;
}

#account-description  {
    width: 40%
}

#account-description p {
    padding-top:  1rem;
    font-size: 18px;
}

#account-container img {
    width: 25%
}
/* podes add esses por favor? */
.negrito {
    font-weight: bold;
}

/* .botao{
    
} */

/*********************************** CAREER ***********************************/

#career-row {
    padding-top: 100px;
    height: 340px
}

/*********************************** FOOTER ***********************************/
footer img {
    width: 9%
}

footer a {
    text-decoration: none;
    color: black
}

footer li {
    list-style-type: none;
    padding-top: 1rem;
}

footer {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 2rem 0;
    font-weight: 600;
    column-gap: 20rem;
}

footer li:hover a, footer p:hover  {
    color: #fb8b38;
    cursor: pointer;
}

footer h4:hover {
    color: #fb8b38;
    cursor: default
}

.footer-contact p:nth-child(3) {
    padding-top:1rem;
}

.footer-social-media a{
    padding: 1rem;
}

.footer-social-media h4 {
    padding-bottom: 1rem;
}

.referencia {
    font-size:10px;
    margin-top: 40px;
}